spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:mysql://localhost:3306/dev?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: heony_dev
    password: 1111

#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:


 
  jpa:
    database: mysql
#    database: h2
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  redis:
    host: localhost
    port: 6379

logging:
  level:
    com.heony: debug

########### this is secret!! #############
jwt:
  secret: dGhpcy1pcy1hLXNwcmluZ2Jvb3Qtc2VjdXJpdHktd2l0aC1qd3QtdGVzdC1wcm9qZWN0LWNyZWF0ZWQtYnktaGVvbnlLaW0tdnYK
# $ echo 'this-is-a-springboot-security-with-jwt-test-project-created-by-heonyKim-vv' | length74 to base64
########### this is secret!! #############
  refresh:
    timeout: 7
    timeunit: DAYS
    ## jwt.refresh.timeunit : MILLISECONDS, SECONDS, MINUTES, HOURS, DAYS

cors:
  allowOrigin: http://localhost:8080
