<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoGiN</title>
</head>
<body>
<input>

</body>

<script>

    var data = JSON.stringify({
        "email": "1111@1111.com",
        "password": "1111"
    });

    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
        if(this.readyState === 4) {
            console.log(this.responseText);
        }
    });

    xhr.open("POST", "http://localhost:8080/auth/login");
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.send(data);
</script>
</html>